@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&display=swap');

.product-page{
    display: grid;
    grid-template-columns: 45rem 30rem;
    grid-template-rows: 10rem 30rem auto;
    grid-template-areas:
    "image-area price-area"
    "image-area name-area"
    "description-area description-area";

    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.product-page__wrapper{
    align-self: center;
    justify-self: center;
    /*width: 80rem;*/
    height: fit-content;
    margin-top: 2rem;
}

.product-page__image-area {
    grid-area: image-area;

    background-color: #f5f7fa;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.product-page__image-wrapper{
    width: 38rem;
    height: 38rem;
    /*background-color: #f5f7fa;*/
    /*border-radius: 3rem;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;


}

.product-page__image{
    object-fit: cover;
    overflow: hidden;
    height: 38rem;
    border-radius: 1rem;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.product-page__left-arrow{
    color: rgb(128, 128, 128);

    margin-right: 41rem;
    position: absolute;
    font-size: 3rem;
    align-self: center;

    cursor: pointer;
}

.product-page__right-arrow{
    color: rgb(128, 128, 128);

    margin-left: 41rem;
    position: absolute;
    font-size: 3rem;
    align-self: center;

    cursor: pointer;
}

.product-page__left-arrow_hidden{
    display: none;
    visibility: hidden;
}

.product-page__right-arrow_hidden{
    display: none;
    visibility: hidden;
}

.product-page__name-area {
    grid-area: name-area
}

.product-page__name-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: #f5f7fa;
    border-radius: 1rem;

    height: 28rem;

    padding-top: 2rem;
    padding-left: 2rem;
}

.product-page__name{
    font-weight: 600;
    margin-bottom: 2rem;
}

.product-page__details{

}

.product-page__details-list{
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 2rem;
}

.product-page__details-item{
    display: flex;
    width: 24rem;
    font-size: 1rem;

    justify-content: flex-end;
}

.product-page__details-item-header{
    position: absolute;
    left: 0rem;
    align-self: flex-start;
}

.product-page__details-item-content{
    align-self: flex-end;
}

/*.product-page__details-item:before{*/
/*    float: left;*/
/*    width: 0;*/
/*    white-space: nowrap;*/
/*    content:*/
/*            ". . . . . . . . . . . . . . . . . . . . "*/
/*            ". . . . . . . . . . . . . . . . . . . . "*/
/*            ". . . . . . . . . . . . . . . . . . . . "*/
/*            ". . . . . . . . . . . . . . . . . . . . "*/
/*}*/

.product-page__shop-wrapper{
    background-color: lightgrey;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 4rem 10rem;
    grid-template-rows: 2rem 1rem;
    grid-template-areas:
    "shop-logo shop-name"
    "shop-logo shop";

    padding: 0.5rem;
    width: 18rem;
    /*height: 2rem;*/

}

.product-page__shop-logo{
    grid-area: shop-logo;
    align-self: center;
    justify-self: center;
    /*margin-top: 1rem;*/
    /*margin-left: 1rem;*/

    font-size: 2rem;
    color: dimgrey;
}

.product-page__shop{
    grid-area: shop;
    font-size: 0.9rem;
    color: grey;
}

.product-page__shop-name{
    grid-area: shop-name;
    padding-bottom: 0.8rem;
}

.product-page__price-area {
    grid-area: price-area
}

.product-page__price-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background-color: #f5f7fa;
    border-radius: 1rem;

    padding-left: 3rem;

    width: 27rem;
    height: 10rem;
}

.product-page__price{
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.product-page__to-favorite-icon{

    font-size: 2.2rem;

/*    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;*/
}

.product-page__to-favorite-icon_true{
    color: #c50090;
    stroke: #c50090;
    stroke-width: 2.5rem;

    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;
}

.product-page__to-favorite-icon_false{
    color: #f5f7fa;
    stroke: #c50090;
    stroke-width: 2.5rem;

    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;
}

.product-page__button-to-favorites{
    position: absolute;
    left: 26rem;
    margin-left: 0.5rem;
    /*border: 0.2rem solid #c50090;*/
    border: none;
    background-color: #f5f7fa;
    width: 3rem;
    height: 3rem;

    cursor: pointer;

    border-radius: 1rem;
}

.product-page__button-to-cart{
    position: absolute;
    left: 12rem;
    background-color: #c50090;
    color: #f5f7fa;
    font-size: 1rem;
    font-weight: 900;
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    outline: 0;
    cursor: pointer;


}

.product-page__button-to-cart_true{
    color: #c50090;
    background-color: #f5f7fa;
    border: 0.2rem solid;
}

.product-page__button-to-cart:hover{
    opacity: 80%;
}

.product-page__button-to-cart:active{
    opacity: 90%;
}

.product-page__description-area {
    grid-area: description-area;
    background-color: #f5f7fa;
    padding: 2rem;
    border-radius: 1rem;
    height: fit-content;

    font-size: 1.1rem;
}