@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


.orders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    padding-left: 20rem;

    width: fit-content;
    flex-grow: 1;
}

.orders__headers{
    display: flex;
    flex-direction: row;
}

.orders-header__header{
    margin-left: 2rem;
    color: darkgrey;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.orders-header__header_highlighted{
    color: #c50090;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.orders__grid{
    display: flex;
    flex-direction: row;
}

.orders__item-list{
    margin-top: 1rem;
}

.orders__item-menu{
    margin-top: 1rem;
    margin-left: 2rem;
    position: sticky;
    top: 2rem;
}