
.product-card{
    width: 16rem;
    height: 22rem;
    background-color: #f5f7fa;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1.5rem;

    padding: 0.5rem;

    position: relative;
    cursor: pointer;


    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;

}

.product-card:hover .product-card__image{
    /*box-shadow: 0.1rem 0.1rem 0.2rem slategray;*/
    transform: scale(1.02);

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.product-card__image-wrapper{
    width: 16rem;
    height: 17rem;
    background-color: #f5f7fa;
    border-radius: 1rem;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.product-card__image{
    object-fit: cover;
    overflow: hidden;
    /*width: 13rem;*/
    height: 17rem;
    border-radius: 1rem;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}



.product-card__rating{
    font-weight: 500;
    font-size: 1rem;
    color: darkgrey;
    position: absolute;
    bottom: 3.2rem;
    left: 13.8rem;
}

.product-card__rating_hidden{
    display: none;
}

.product-card__star-icon{
    font-size: 0.9rem;
    color: #ffa800;
    position: absolute;
    bottom: 3.5rem;
    left: 12.5rem;
}

.product-card__star-icon_hidden{
    display: none;
}

.product-card__review-count{
    font-weight: 500;
    font-size: 0.9rem;
    color: darkgrey;
    position: absolute;
    bottom: 3.25rem;
    left: 8rem;
}

.product-card__review-count_hidden{
    display: none;
}

.product-card__price{
    font-weight: bolder;
    color: #020319;

    position: absolute;
    bottom: 3rem;
    left: 1.21rem;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.product-card__name{
    bottom: 2rem;
    left: 1.2rem;
    position: absolute;
    color: black;
    font-size: 1rem;

    width: 15rem;



    -webkit-line-clamp: 1; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */

}


.product-card__is-favorite-icon{
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    font-size: 1.5rem;
    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.product-card__is-favorite-icon_true{
    color: #c50090;
    stroke: #c50090;
    stroke-width: 2.5rem;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.product-card__is-favorite-icon_false{
    color: white;
    stroke: grey;
    stroke-width: 2.5rem;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

/*.product-card__is-favorite-icon:hover{*/

/*    color: #c8014e;*/
/*    transition: All 0.3s ease-in;*/
/*    -webkit-transition: All 0.3s ease-in;*/
/*    -moz-transition: All 0.3s ease-in;*/
/*    -o-transition: All 0.3s ease-in;*/

/*}*/