@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.favorites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    width: 100%;

    flex-grow: 1;
}

.favorites__header{
    color: #c50090;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 5rem;
}

.favorites__filters{
    margin-left: 1rem;
    align-self: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.favorites__filters-apply-button{
    margin-left: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    align-self: center;
    background-color: #ddeee2;

    outline: 0;

    height: 2.5rem;
    width: 7rem;
    border: none;
    cursor: pointer;


    border-radius: 1rem;
}

.favorites__filters-reset-button{
    margin-left: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    align-self: center;
    background-color: #eedddd;
    cursor: pointer;

    outline: 0;

    height: 2.5rem;
    width: 7rem;
    border: none;

    border-radius: 1rem;
}

.favorites__subcategories{
    pointer-events: none;
}

.favorites__subcategories div div{
    color: grey;
    /*background-color: white;*/
}

.favorites__subcategories div svg{
    color: grey;
}

.favorites__sort{
    width: 9rem;
}

.favorites__order{
    width: 10rem;
}

.favorites__price-range{
    width: 11rem;
}

.favorites__product-list{
    margin-left: 2rem;
}

