

.cart-item{
    background-color: #f5f7fa;
    width: 55rem;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 13rem 37rem 5rem;
    grid-template-rows: 11rem 2rem;
    grid-template-areas:
    "image-area name-area price-area"
    "image-area name-area icon-area";

    padding: 0.5rem;



    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;

}


.cart-item__image-area{
    grid-area: image-area;

    /*width: 16rem;*/
    /*height: 17rem;*/
    background-color: #f5f7fa;
    border-radius: 1rem;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}



.cart-item__image{
    object-fit: cover;
    overflow: hidden;
    /*width: 13rem;*/
    height: 13rem;
    border-radius: 1rem;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    transition: All 0.3s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.cart-item__image:hover{
    /*box-shadow: 0.1rem 0.1rem 0.2rem slategray;*/
    transform: scale(1.02);

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.cart-item__price-area{
    grid-area: price-area;
    justify-self: flex-end;
}

.cart-item__price{

    margin-right: 2rem;
    margin-top: 0.5rem;
    font-weight: bolder;
    font-size: 1.4rem;
    color: #020319;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cart-item__name-area{
    grid-area: name-area;
}

.cart-item__name{
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #020319;
    font-size: 1rem;
    padding-right: 4rem;

    cursor: pointer;

/*    -webkit-line-clamp: 1; !* Число отображаемых строк *!
    display: -webkit-box; !* Включаем флексбоксы *!
    -webkit-box-orient: vertical; !* Вертикальная ориентация *!
    overflow: hidden; !* Обрезаем всё за пределами блока *!*/

}

.cart-item__icon-area{
    align-self: flex-end;
}

.cart-item__trash-icon{
    float: right;
    color: #626262;
    margin-bottom: 0.7rem;
    margin-right: 1rem;
    font-size: 1.3rem;

    cursor: pointer;

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.cart-item__trash-icon:hover{
    /*font-size: 1.35rem;*/
    transform: scale(1.05);

    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

.cart-item__is-favorite-icon{
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    font-size: 1.5rem;
    transition: All 0.2s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

/*.cart-item__is-favorite-icon_true{*/
/*    color: #c50090;*/
/*    stroke: #c50090;*/
/*    stroke-width: 2.5rem;*/

/*    transition: All 0.2s ease-in;*/
/*    -webkit-transition: All 0.2s ease-in;*/
/*    -moz-transition: All 0.2s ease-in;*/
/*    -o-transition: All 0.2s ease-in;*/
/*}*/

/*.cart-item__is-favorite-icon_false{*/
/*    color: white;*/
/*    stroke: grey;*/
/*    stroke-width: 2.5rem;*/

/*    transition: All 0.2s ease-in;*/
/*    -webkit-transition: All 0.2s ease-in;*/
/*    -moz-transition: All 0.2s ease-in;*/
/*    -o-transition: All 0.2s ease-in;*/
/*}*/

